@model QuizWebApplication.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/StyleSheets/QuizStyle.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="quizHead">
            <h1 class="title">QUIZ TIME</h1>
        </div>
        <div class="centerDiv">
            
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, "Login failed. Check your login details.");
                <div>
                    <fieldset>
                        <legend>Login</legend>
                        <div class="editor-label">
                            @Html.LabelFor(u => u.Name)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(u => u.Name)
                            @Html.ValidationMessageFor(u => u.Name)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(u => u.Password)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(u => u.Password)
                            @Html.ValidationMessageFor(u => u.Password)
                        </div>
                        <br />
                        <input class="btnLogin" type="submit" value="Log In" />
                    </fieldset>
                </div>
                <br />
                <a href='@Url.Action("RegisterUser", "Login" ) '>
                    <p class="linkRegister">Click Here For New User</p>
                </a>
            }
        </div>
    </div>
</body>
</html>